/* regole generali pagina */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Fredoka', sans-serif;
}

/* regole container centrale */
.center-container {
    width: 75%;
    margin: 30px auto;
}

/* regole header */
header h1 {
    text-align: center;
    color: #E53170;
    font-weight: bold;
}

/* regole paragrafo centrale */
.paragraph p {
    text-align: center;
    margin: 45px 0;
}