/* regole generali pagina */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Fredoka', sans-serif;
}

/* regole container centrale */
.center-container {
    width: 75%;
    margin: 30px auto;
}

/* regole header */
header h1 {
    text-align: center;
    color: #E53170;
    font-weight: bold;
}

/* regole paragrafo centrale */
.paragraph p {
    text-align: center;
    margin: 45px 0;
}

/* regole sezione schede */
.container-schede {
    margin-bottom: 30px;
}

.scheda {
    float: left;
    width: calc(100%/3 - 20px);
    background-color: #0F0E17;
    margin-right: 30px;
}

.container-schede::after {
    clear: both;
    display: table;
    content: "";
}

.scheda img {
    width: 75px;
    vertical-align: middle;
}

.scheda .info {
    color: white;
    display: inline-block;
    padding: 10px;
    font-size: 14px;
    vertical-align: middle;
    line-height: 1.3;
    width: calc(100% - 80px);
}

.scheda .info a {
    color: #019DDB;
    text-decoration: none;
}

.last {
    margin-right: 0;
}